/***************************************
            Carousel.css
***************************************/
.carousel-section {
	position: relative;
	min-height: 100%;
	max-width: 100%;
	margin-bottom: 100rem;
  }

  .carousel-container {
	  margin-top: 100rem;
	  width: 1rem;
	  
  }
  
  .carousel li {
	width: 26.5625rem;
	height: 17.5625rem;
	background: #333;
	display: inline-block;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	overflow: hidden;
  }
  
  .carousel li p {
	color: white;
	font-weight: bold;
	font-size: 5em;
	text-align: center;
	margin-top: 1.175em;
  }
  
  .items {
	position: absolute;
  }
  
  .main-pos {
	margin-left: 2em !important;
	z-index: 3000;
	/*background-image: url('https://dl.dropbox.com/u/32649907/imgs/shadow.png');*/
  }
  
  .left-pos {
	margin-left: -17em !important;
	z-index: 1000;
	-webkit-transform: scale(.75);
	-moz-transform: scale(.75);
	transform: scale(.75);
  }
  
  .back-pos {
	margin-left: 2em !important;
	opacity: .05;
	-webkit-transform: scale(.5);
	-moz-transform: scale(.5);
	transform: scale(.5);
  }
  
  .right-pos {
	margin-left:  21em !important;
	z-index: 1000;
	-webkit-transform: scale(.75);
	-moz-transform: scale(.75);
	transform: scale(.75);
  }

  .prev-next-buttons button {
	background-color: #2f3b77;
	color: #ffffff;
	padding: 1.2rem;
	border: black;
  }

.fa-angle-left, .fa-angle-right {
	font-size: 2rem;
}
  
 .prev-button {
	 /* top: 33%; */
	 position: absolute;
	 top: 29%;
	 left: 17%;
	 z-index: 1000;
 }

 .next-button {
	 position: absolute;
	 top: 29%;
	 left: 150%;
	 z-index: 1000;
 }