/***************************************
            Carousel.css
***************************************/
.carousel-with-arrows {
	width: 380px;
	height: 550px;
	margin: 0 auto;
	text-align: center;
}

.carousel-with-arrows h1 {
		color: pink;
		font-size: 32px;
	}
  
  .carousel-left-and-right-arrows {
		display: block;
		position: relative;
		top: 210px;
  }

  .carousel-left-and-right-arrows input {
			border: 2px solid #ffffff;
			width: 30px;
			height: 30px;
			border-radius: 0%;
			position: absolute;
      background: Indigo;
      color: White;
      font-weight: bold;
      padding-top: 3px;
        }
        #prev {
			left: -140px;
		}

		#next {
			right: -140px;
		}
	

.carousel {
	margin-top: -10px;
}

	.carousel li {
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
		list-style-type: none;
		position: absolute;
  }
		.carousel:before {
			content: url("../img/icone.png");
			display: block;
			position: relative;
			top: 30px;
		}

		.article-card {
			background: #ffffff;
			text-align: center;
			width: 300px;
			height: 400px;
			background: #ffffff;
			display: inline-block;
			border: 2px solid #ffffff;
			border-radius: 15px;
			overflow: hidden;
			box-shadow: 0px 2px 3px #000000;
    }
    
.carousel-image  {
  margin-top: 20px;
}
	
.main-pos {
	z-index: 3000;
}

.left-pos {
	margin-left: -8em !important;
	z-index: 1000;
	-webkit-transform: scale(.75) perspective( 1000px ) rotateY( 35deg );
	-moz-transform: scale(.75) perspective( 1000px ) rotateY( 35deg );
	transform: scale(.75) perspective( 1000px ) rotateY( 35deg );
}

.left-pos-2 {
	margin-left: -13em !important;
	z-index: 500;
	-webkit-transform: scale(.5) perspective( 1000px ) rotateY( 35deg );
	-moz-transform: scale(.5) perspective( 1000px ) rotateY( 35deg );
	transform: scale(.5) perspective( 1000px ) rotateY( 35deg );
}

.back-pos {
  opacity: 0;
	-webkit-transform: scale(.5);
	-moz-transform: scale(.5);
	transform: scale(.5);
}

.right-pos {
	margin-left:  8em !important;
	z-index: 1000;
	-webkit-transform: scale(.75) perspective( 1000px ) rotateY( -35deg );
	-moz-transform: scale(.75) perspective( 1000px ) rotateY( -35deg );
	transform: scale(.75) perspective( 1000px ) rotateY( -35deg );
}

.right-pos-2 {
	margin-left:  13em !important;
	z-index: 500;
	-webkit-transform: scale(.5) perspective( 1000px ) rotateY( -35deg );
	-moz-transform: scale(.5) perspective( 1000px ) rotateY( -35deg );
	transform: scale(.5) perspective( 1000px ) rotateY( -35deg );
}



