/***************************************
           Section-four.css
***************************************/
.engagers-flex-container {
    display: flex;
}

.image-holder {
    height: auto;
    width: 100%;
    position:relative; 
}   

.image-holder:before {
content: "";
display: block;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: rgba(47, 59, 119, 0.9);
}

.image-holder h2 {
    color: #ffffff;
}

.engagers-text {
    flex: 0 0 100%;
    height: 310px;
    background-image: url(../images/engagers-banner-image.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    color: #ffffff;
}

.engagers-text h2 {
    font-weight: 900;
}

.engagers-container {
    flex: 0 0 100%;
    height: 310px;
    background-color: rgba(47, 59, 119, 0.9);
    margin-top: -11%;
}

.engagers-centered {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.engagers-centered h2 {
    color: #ffffff;
    font-weight: 900;
    font-size: 5rem;
}

.engagers-centered p {
    color: #ffffff;
    font-weight: 400;
    font-size: 2rem;
}

.engagers-flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid-section-four {
    height: 50rem;
    width: auto;
    background-color: #f7f7f7;
}

.container {
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
  }

.container:hover, .container:focus {
      color: transparent;
  }
  
.image {
    display: block;
    width: 100%;
    height: 25rem;
  }
  
.container-image-engagers-title {
      position: absolute;
      top: 84%;
      left: 40%;
      transform: translate(-50%, -50%);
      text-align: left;
  }

.engagers-name {
    font-size: 1.3rem;
    font-weight: 700;
    padding-bottom: 0;
}

.engagers-business-position {
    font-size: 1.3rem;
    font-weight: 100;
    padding-top: .6rem;
}

  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #7E9500;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
    opacity: .8;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    padding: 0rem;
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 73%;
    left: 79%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    margin: -7rem;
    font-weight: 400;
    font-size: .8rem;
  }

.overlay-button {
    margin-top: 18rem;
    padding: 1rem 2rem 1rem 2rem;
    background-color: transparent;
    border: solid #ffffff 2px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: .7rem;
}

.overlay-button:hover, .overlay-button:focus {
    background-color: #ffffff;
    color: #7E9500;
}

/* Extra-large screens */
@media only screen and (min-width: 1280px) {
    .engagers-text h2 {
        font-size: 5rem;
    }
 
    .engagers-text p {
        font-size: 2.5rem;
    }
    
    .engagers-centered h2 {
       font-size: 5rem;
    }

    .engagers-centered p {
        font-size: 2.5rem;
    }
}

/* large screens */
@media only screen and (min-width: 568px) { 
    .grid-section-four {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
    
        
       