/***************************************
            footer.css
***************************************/
#main-footer {
    padding: 1%;
    background: #2f3b77;
    color: #ffffff;
    font-size: .9rem;
}

#main-footer a {
    color: #ffffff;
}

.footer-vertical-line {
    margin: 0 3rem 0 3rem;
}

.footer-flex {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* Extra-large screens */
@media only screen and (min-width: 1400px) {
    #main-footer {
        font-size: 1.25rem;
    }
}
