/***************************************
            footer.css
***************************************/
#main-footer {
    padding: 1%;
    background: #2f3b77;
    color: #ffffff;
    font-size: .8rem;
}

#main-footer a {
    color: #ffffff;
}

.footer-vertical-line {
    margin: 0 3rem 0 3rem;
}

.footer-vertical-line {
    display: none;
}

.footer-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5% 35%;
}

.footer-flex p {
    margin: 10% 0;
}

p.footer-company-link {
    font-weight: 400;
    margin: -2% 0 1% 0;
}

p.footer-company-link a {
    font-weight: 900;
    letter-spacing: .05rem;
}

/* medium screens */
@media only screen  and (min-width : 799px) and (max-width: 1299px) {
    #main-footer {
        font-size: 1rem;
    }

    .footer-vertical-line {
        display: block;
    }

    .footer-flex {
        padding: 0%;
    }

    p.footer-company-link {
        margin: 1.5% 0 1% 0;
    }
}

/* Extra-large screens */
@media only screen and (min-width: 1300px) {
    #main-footer {
        font-size: 1.25rem;
    }

    .footer-vertical-line {
        display: block;
    }

    .footer-flex {
        padding: 0;
    }

    p.footer-company-link {
        font-size: 1.125rem;
    }
}
