/***************************************
            Hero-section.css
***************************************/
.hero-image {
    position: relative;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('../images/hero-image.jpg');
    min-height: 100%;
    padding-bottom: 50%;
    margin-bottom: 16%;
}

.hero-text {
    position: absolute;
    margin-top: 7.5rem;
    width: 100%;
}

.hero-item-1 {
    padding-left: 5%;
}

.hero-item-1 h1 {
    font-size: 2rem;
    line-height: 2rem;
    text-align: left;
    font-weight: 900;
    margin-bottom: 1%;
    line-height: 112%;
    color: #ffffff;
}

.hero-item-1 p {
    color: #ffffff;
    text-align: left;
    font-size: .8rem;
    font-weight: 400;
}

.hero-item-3 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 16rem;
    grid-template-areas: ". . a a a a";
}


.hero-item-3 .hero-date-location  {
    background-color: #ffffff;
    padding: 3% 3% 4% 5%;
    text-align: left;
    width: 90%;
    font-size: .8rem;
    font-weight: bolder;
    color: #4B4B4B;
}

.hero-item-3 .hero-date {
    font-size: .7rem;
    font-weight: 200;
    line-height: 1.6rem;
}

.hero-item-3 .hero-button {
    padding: 3%;
    background-color: #2f3b77;
    border-color: transparent;
    color: #ffffff;
    /* padding: 2rem; */
    text-transform: uppercase;
    font-weight: 100;
    font-size: .1rem;
    font-size: .8rem;
}

.hero-item-3 .hero-button:hover, .hero-item-3 .hero-button:focus {
    background-color: #010d47;
    transition: background-color .5s ease-out;
    color: #ffffff;
}

.hero-scroll-text a {
    text-align: center;
    font-size: 1.25rem;
    color: #ffffff;
    font-weight: 300;
    padding: 1% 0 1% 0;
}


.hero-item-3 .hero-date-location-container {
    display: inline-flex;
    width: 70%;
    margin: auto;
    grid-area: a;
    font-family: 'lato', sans-serif;
}


/* Extra-large Screen */
@media only screen  and (min-width : 1280px) {
    .hero-image {
        padding-bottom: 40%;
    }

    .hero-item-1 h1 {
        font-size: 4.9375rem;
    }

    .hero-item-1 p {
        font-size: 1.5rem;
    }

    .hero-scroll-text-a {
        font-size: 1.25rem
    }

    .hero-item-3 .hero-button {
        font-size: 0.9375rem;
    }

    .hero-item-3 .hero-date {
        font-size: 1.25rem;
    }

    span.hero-location-text {
        font-size: 1.6875rem;
    }

    .hero-item-3 .hero-date-location  {
        width: 39%;
        font-size: 1.25rem;
    }
}





