/***************************************
                modal.css
***************************************/
.modal {
    display: none;
    position: fixed;
    z-index: 90000000000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: transparent;
    margin: 1% auto;
    padding: 15px;
    width: 95%;
    animation-name: modalopen;
    animation-duration: 1s;
}

.closeBtn:hover, closeBtn:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

span.closeBtn {
    position: absolute;
    top: 49px;
    right: 7px;
}

@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
}

@media only screen  and (min-width : 799px) {
    span.closeBtn {
        font-size: 1.5rem;
    }
}


/* Extra-large screens */
@media screen and ( min-width: 1300px ) {
    .modal-content {
        width: 70%;
    }
    span.closeBtn {
        position: absolute;
        top: 55px;
        right: 16px;
        font-size: 2rem;
    }
}