/***************************************
            navbar-mobile.css
***************************************/
.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}


#main {
    transition: margin-left 0.5s;
    padding: 20px;
    overflow: hidden;
    width: 100%;
}

/*************************************
            typography
*************************************/
.side-nav {
    background-color: #111111;
    opacity: 0.9;
}

.side-nav a {
    font-size: 22px;
}

.side-nav a:hover {
    color: #ffffff;
}

/* jQuery mobile hamburger svg */
nav span a svg path.scrolled {
    stroke: #ffffff;
}

/*************************************** 
        small screens 
***************************************/
@media only screen and (max-width:568px) {
    .navbar-nav {
        display: none;
    }

}