/***************************************
                navbar.css
***************************************/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    height: 10%;
    z-index: 10000;
}

.navbar.scrolled {
    background-color: #2f3b77;
    transition: background-color 400ms linear;
    opacity: .9;
}

.navbar ul li a.scrolled {
    color: #ffffff;
}

.navbar ul li a.scrolled:hover, .navbar ul li a.scrolled:focus  {
    color: #00A7FF;
}
 
.navbar a {
    float: right;
    display: block;
    text-align: center;
    padding: 1.4% 2% 2% 2%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.7rem;
    color: #ffffff;
    font-weight: 700;
}

.navbar a:hover, .navbar a:focus {
    color: #00A7FF
}

.navbar .navbar-nav .modal-btn {
    float: right;
    padding: 2% 4% 6% 3%;
    text-align: center;
    margin: -.66% -1% 0 1%;
    background-color: #7E9500;
    border-left-color: #7E9500;
    transition: background-color .5s ease-out;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bolder;
    -webkit-box-shadow: -1px 3px 14px -1px rgba(0,0,0,0.34);
    -moz-box-shadow: -1px 3px 14px -1px rgba(0,0,0,0.34);
    box-shadow: -1px 3px 14px -1px rgba(0,0,0,0.34);
}

.navbar .navbar-nav .modal-btn:hover, .navbar .navbar-nav .modal-btn:focus {
    background-color:  #5A690C;
    cursor: pointer;
    border-left-color: #5A690C;
    color: #ffffff;
}


p.logo-paragraph {
    text-transform: lowercase;
    font-size: .7rem;
    font-weight: 100;
}

.logo-insight {
    font-weight: 100;
    margin-bottom: -6%;
}

.navbar .logo-image-lg span {
    margin-left: -1%;
    font-weight: 700;
}

.navbar .logo-image-sm {
    margin: 1% 0 1% 1%;
    float: left;
}

.navbar ul {
    margin: 0.5% 0 0 0;
    list-style: none;
}

.navbar .logo-image-sm {
    font-size: 1.25rem;
}

.logo-marker {
    height: 100px;
    width: 210px;
    margin: .1;
    float: left;
}

.logo-marker img {
    height: auto;
    width: 100%;
}
