.reveal {
	opacity: .85;
	display: block;
	pointer-events: auto;
	visibility: visible;
}

.hamburger-shell {
	margin: 0;
	position: fixed;
	overflow: hidden;
	width: 10%;
	height: 19%;
	overflow: auto;
	left: calc(100% - 100px);
	top: -.79rem;
}

.top, .middle{
	position: absolute;
	width: 80%;
	height: .625rem;
	background-color: #ffffff;
	transition: all 350ms ease-in-out;
	top: 1.25rem;
}

.middle {
	top: 2.5rem;
}

#menu {
	position: fixed;
	left: calc(100% - 292px);
	top: .625rem;
	color: black;
	display: none;
	margin: 0 4%;
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-weight: 100;
	font-size: 1rem;
	text-transform: uppercase;
	color: #333;
	padding: 9%;
	width: 20%;
    text-align: right;
	background-color: rgba(47, 59, 119, 0.9);
	z-index: 90000000;
}

#menu a li {
	text-decoration: none!important;
	padding-bottom: 15%;
	margin-bottom: 15%;
	border-bottom: 1px solid black;
	list-style: none;
	color: #ffffff;
	transition: all 150ms ease;
}

#menu a li:hover {
	color: #00abff;
	padding-right: 1%;
}

#menu a li:hover:after {
}

#menu a {
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
}

.rotate {
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	top: 30px;
	background-color: #ffffff;
	height: 2px;
}

.rotate-back {
	transform: rotate(-225deg);
	-webkit-transform: rotate(-225deg);
	top: 30px;
	background-color: #ffffff;
	height: 2px;
}

.top {
-webkit-animation-delay: 100ms;
}

.middle {
-webkit-animation-delay: 250ms;
}

.bottom {
	-webkit-animation-delay: 400ms;
}


.bump {
	top: 20%;
	color: #ffffff;
}

/* jQuery mobile hamburger svg */
nav span a svg path.scrolled {
    stroke: #ffffff;
}

/* LARGE SCREEN */
@media only screen and (min-width: 750px) {
    a.hamburger-shell {
        display: none;
    }
}


/*************************************** 
        small screens 
***************************************/
@media only screen and (max-width: 750px) {
    .navbar-nav {
        display: none;
    }

}