/***************************************
                navbar.css
***************************************/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    height: 8%;
    z-index: 10000;
}

.navbar.scrolled {
    background-color: #2f3b77;
    transition: background-color 400ms linear;
    opacity: .9;
    -webkit-box-shadow: 0px 13px 45px 0px rgba(47,59,119,0.16);
    -moz-box-shadow: 0px 13px 45px 0px rgba(47,59,119,0.16);
    box-shadow: 0px 13px 45px 0px rgba(47,59,119,0.16);
}

.navbar ul li a.scrolled {
    color: #ffffff;
}

.navbar ul li a.scrolled:hover, .navbar ul li a.scrolled:focus  {
    color: #00A7FF;
}
 
.navbar a {
    float: right;
    display: block;
    text-align: center;
    padding: .8% .8% .8% .8%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.1rem;
    color: #ffffff;
    font-weight: 700;
}

.navbar a:hover, .navbar a:focus {
    color: #00A7FF
}

.navbar .navbar-nav .modal-btn {
    float: right;
    padding: 1.4% 2% 5% 2%;
    text-align: center;
    margin: -.66% -2% 0 1%;
    background-color: #7E9500;
    border-left-color: #7E9500;
    transition: background-color .5s ease-out;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bolder;
    -webkit-box-shadow: -1px 3px 14px -1px rgba(0,0,0,0.34);
    -moz-box-shadow: -1px 3px 14px -1px rgba(0,0,0,0.34);
    box-shadow: -1px 3px 14px -1px rgba(0,0,0,0.34);
    font-size: .1rem;
}

.navbar .navbar-nav .modal-btn:hover, .navbar .navbar-nav .modal-btn:focus {
    background-color:  #5A690C;
    cursor: pointer;
    border-left-color: #5A690C;
    color: #ffffff;
}


p.logo-paragraph {
    text-transform: lowercase;
    font-size: .7rem;
    font-weight: 100;
}

.logo-insight {
    font-weight: 100;
    margin-bottom: -6%;
}

.navbar .logo-image-lg span {
    margin-left: -1%;
    font-weight: 700;
}

.navbar .logo-image-sm {
    margin: 1% 0 1% 1%;
    float: left;
}

.navbar ul {
    margin: 0.5% 0 0 0;
    list-style: none;
}

.navbar .logo-image-sm {
    font-size: 1.25rem;
}

/* Medium screens */
@media only screen  and (min-width : 700px) and (max-width: 1299px) {
    .nav {
        height: 12%;
    }

    .navbar a {
        padding: 1% 2% 1% 2%;
        font-size: 0.6rem;
    }

    .navbar .navbar-nav .modal-btn {
        padding: 1.8% 5% 4% 3%;
        font-size: 0.65rem;
        font-weight: 900;
    }

    .logo-marker {
        height: 100px;
        width: 210px;
        margin: .1;
    }

    .logo-marker {
        height: 0%;
        width: 13%;
        float: left;
    }
    
    .logo-marker img {
        height: auto;
        width: 100%;
    }
}


/* Extra-large screens */
@media screen and ( min-width: 1300px ) {
    nav {
        height: 10%;
    }

    .navbar a {
        padding: 1.4% 2% 2% 2%;
        font-size: 0.8125rem;
    }

    .navbar .navbar-nav .modal-btn {
        padding: 2% 4% 6% 3%;
        font-size: 0.8125rem;
    }

    .logo-marker {
        height: 100px;
        width: 210px;
        margin: .1;
    }

    .logo-marker {
        height: 0%;
        width: 13%;
        float: left;
    }
    
    .logo-marker img {
        height: auto;
        width: 100%;
    }

}

