/***************************************
            Section-five.css
***************************************/
.section-five {
    background-color: #F7F7F7;
    padding: 8% 0 4% 0;
}

.section-five h1 {
    margin: 2rem 0 3rem 0;
    font-weight: 900;
}

.partrners-flex-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    grid-auto-rows: minmax(100px, auto);
}

.logo-one {
    grid-column: 1;
}

.logo-two {
    grid-column: 2;
}

.logo-three {
    grid-column: 3;
    margin-top: 1rem;
}

.partrners-flex-container img {
    height: auto;
    width: 100%;
}

/* Mediaum Screens */
@media only screen  and (min-width : 799px) {
    .section-five h1 {
        font-size: 3rem;
        margin: 0 0 6rem 0;
    }

    .partrners-flex-container {
        grid-template-columns: repeat(9, 1fr);
        grid-auto-rows: minmax(50px, auto);
        grid-gap: 0px;
    }

    .logo-one {
        grid-column: 3;
    }
    
    .logo-two {
        grid-column: 5;
    }
    
    .logo-three {
        grid-column: 7;
        margin-top: 1rem;
    }
}


/* Large Screens */
@media only screen and (min-width: 1300px) {
    .section-five h1 {
        font-size: 5rem;
        margin: 0 0 8rem 0;
    }

    .partrners-flex-container img {
        height: auto;
        width: 100%
    }

    .partrners-flex-container {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-gap: 0px;
        grid-auto-rows: minmax(100px, auto);
    }
    
    .logo-one {
        grid-column: 3;
    }
    
    .logo-two {
        grid-column: 5;
    }
    
    .logo-three {
        grid-column: 7;
        margin-top: 1rem;
    }
  
}