/***************************************
            Section-two.css
***************************************/
.section-two {
    position: relative;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    /* 
    fixed = parallax
    scroll = normal 
    */
    background-attachment: scroll;
    padding-top: 12rem;
    background-image: url('../images/background-with-prism.jpg');
    min-height: 100%;
    max-width: 100%;
    padding-bottom: 3rem;
}

.brochure-card-overlay-1 {
    background-color: #ffffff;
    padding: 1rem 2rem 0 2rem;
    border-top: solid  #2f3b77 10px;
    margin-top: 2rem;
}

.brochure-card-overlay-1 h2 {
    font-size: 	1.2rem;
    color: #2f3b77;
    margin-bottom: -1rem;
}

.brochure-card-overlay-1 p {
    font-size: .6rem;
}

.brochure-card-overlay-1 ul {
    color: #2f3b77;
    margin-right: 6rem; 
}

.brochure-card-overlay-1 li {
    font-size: .81rem;
    text-align: left;
    padding: 0 0 0 2rem;
    line-height: 2rem;
    font-family: Helvetica Neue;
    color: #707070;
    font-weight: 400;
} 

.section-two-list-items-container-1 li {
    list-style-image: url('../images/heart-list-item.jpg');
}

.section-two-list-items-container-2 {
    list-style-image: url('../images/x-list-item.jpg');
}

.brochere-card-overlay-bottom-agenda {
    font-weight: 900;
    font-size: 2.5rem;
}

.agenda-day-box {
    background-color: #2f3b77;
    color: #ffffff;
    text-transform: uppercase;
}

.flex-card-item {
    background-color: #FAF7EF;
}

.flex-card-item h3 {
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: -1.3rem;
}

.flex-card-item p {
    font-size: .7rem;
}

.flex-card-item-agenda-list {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    font-family: 'lato', sans-serif;
    color: #4B4B4B;
    font-size: 0.7rem;
}

.brochure-card-overlay-bottom-paragraph {
    margin: 2rem 0 2rem 0;
    color: #707070;
}

.brochure-card-overlay-bottom-button {
    padding: .9rem 1.5rem .9rem 1.5rem;
    background-color: #7E9500;
    color: #ffffff;
    font-family: 'lato', sans-serif;
    margin: 0 0 2rem 0;
    font-size: .5rem;
    font-weight: 400;
}

/* Large Screens */
@media only screen and (min-width: 568px) {
    .brochure-card-overlay-1 {
        background-color: #ffffff;
        padding: 2rem 5rem 2rem 5rem;
        margin: 16rem 15.6rem 0 15.6rem;
        border-top: solid  #2f3b77 20px;
        -webkit-box-shadow: 0px 11px 36px -1px rgba(47,59,119,0.45);
        -moz-box-shadow: 0px 11px 36px -1px rgba(47,59,119,0.45);
        box-shadow: 0px 11px 36px -1px rgba(47,59,119,0.45);
    }

    .brochure-card-overlay-1 h2 {
        font-size: 1.5rem;
        margin-bottom: -1rem;
        font-weight: 900;
    }

    .brochure-card-overlay-1 p {
        font-size: 	0.85rem;
        line-height: 1.3rem;
    }

    .brochure-card-overlay-1 ul {
        font-size: 1rem;
        text-align: center;
        margin-right: 5rem;
    } 

    .brochure-card-overlay-1 li {
        font-size: .96rem;
        text-align: left;
        padding: 0 0 0 2rem;
        line-height: 2rem;
    } 

    .brochure-card-overlay-1 li span {
        margin-left: 1.1rem;
    }

    .section-two-grid-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 12rem;
        grid-template-areas: 
            "allpha allpha allpha  bravo bravo bravo"
            "allpha allpha allpha  bravo bravo bravo";
        }

    .section-two-grid-container hr {
        opacity: 0.4;
    }
    .section-two-list-items-container-1 {
        grid-area: allpha;
    }

    .section-two-list-items-container-2 {
        grid-area: bravo;
    }

    .brochere-card-overlay-bottom-agenda {
        font-size: 4rem;
        margin: 5rem 0 4rem 0;
    }

    .flex-container {
        display: flex;
        margin: 0 -8rem 0 -8rem;
        text-align: left;
        justify-content: space-between;
    }

    .flex-card-item {
        background-color: #FAF7EF;
        width: 32%;
        padding-right: .3rem;
        padding-bottom: 2rem;
        -webkit-box-shadow: 0px 0px 51px 0px rgba(47,59,119,0.26);
        -moz-box-shadow: 0px 0px 51px 0px rgba(47,59,119,0.26);
        box-shadow: 0px 0px 51px 0px rgba(47,59,119,0.26);
    }

    .flex-card-item-box {
        padding-left: 1.3rem;
    }

    .flex-card-item-box p {
        font-size: .75rem;
    }

    .flex-card-item-box h4 {
        font-size: .95rem;
    }

    .flex-card-item-agenda-list {
        margin: 1rem 1rem 1rem 0rem;
        padding: .5rem;
    }

    .agenda-day-box {
        margin: 2rem 11rem 1rem 2rem;
        text-align: center;
        font-size: .7rem;
    }

    .agenda-day-box h4 {
        padding: .3rem 0 .3rem 0;
    }

    .brochere-card-overlay-bottom-agenda-paragraph {
        font-size: 2rem;
    }


    }

