/***************************************
            Section-one.css
***************************************/
.section-one {
    position: relative;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url(../images/background-image-trails.png);
    margin-top: -37%;
}

/* use margin to control overlap of section-one-container */
.section-one-container {
    background-color: #ffffff;
    margin: 37% 2% 15% 2%;
    padding: 1% 5% 14% 5%;
    -webkit-box-shadow: 0px 13px 45px 0px rgba(47,59,119,0.16);
    -moz-box-shadow: 0px 13px 45px 0px rgba(47,59,119,0.16);
    box-shadow: 0px 13px 45px 0px rgba(47,59,119,0.16);
}

.section-one-container h2 {
    margin-bottom: -2rem;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.section-one-heading {
    color: #7E9500;
    font-weight: 900;
}

.section-one-sub-heading {
    margin-bottom: 1.4rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: #707070;
}

.section-one-container p {
    font-weight: 600;
    font-size: 1rem;
    color: #707070;
    font-weight: 400;
    line-height: 1.5;
    padding: 0 3% 0 3%;
}

.purpose-prism {
    margin: 0 0% 0 -4%;
    height: auto;
    width: 100%;
}

.section-one-logo-container {
    height: 200px;
    margin: 9% 0 -10% 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.section-one-logo-container img {
    height: auto;
    width: 100%;
}


/* Extra-Large Screens */
@media only screen  and (min-width : 1400px) {
    .section-one-container {
        margin: 17% 20% 15% 20%;
    }
    .section-one-container h2 {
        font-size: 3.25rem;
    }

    .section-one-sub-heading {
        font-size: 2.0625rem;
    }

    .section-one-container p {
        font-size: 1.25rem;
    }
    .section-one-logo-container {
        width: 50%;
        margin-bottom: -6%;
    }
}
