/***************************************
            Section-two.css
***************************************/
.section-two {
    position: relative;
    /* 
    fixed = parallax
    scroll = normal 
    */
    background-attachment: scroll;
    margin-top: -16rem;
}

.brochure-card-overlay-1 {
    margin-top: 1%;
}

.brochure-card-overlay-1 h2 {
    font-size: 1.2rem;
    color: #4B4B4B;
    margin-bottom: -2%;
    font-weight: 900;
    margin-top: 5%;
}

.brochure-card-overlay-1 p {
    font-size: .8rem;
    color: #4B4B4B;
    font-weight: 400;
    line-height: 1.8rem;
}

.brochure-card-overlay-1 ul {
    margin: .4% 15% 5% 6%;
    padding: 3.4% 0% 2.4% 4%;
    background-color: #ffffff;
    color: #2f3b77;
    text-align: left;
    margin-top: 5%;
    -webkit-box-shadow: 0px 3px 15px 0px rgba(47,59,119,0.16);
    -moz-box-shadow: 0px 3px 15px 0px rgba(47,59,119,0.16);
    box-shadow: 0px 3px 15px 0px rgba(47,59,119,0.16);
}


.brochure-card-overlay-1 ul img {
    margin: 0 25% 0 -1%;
    display: inline-block;
}

.brochure-card-overlay-1 li {
    padding: 0 0 0 9%;
    line-height: 164%;
    margin-right: -2%;
    font-weight: 400;
    color: #4B4B4B;
    list-style: none;
    font-size: .8rem;
    text-align: left;
    font-family: 'Lato', sans-serif;
}

.brochure-card-overlay-1 li::before { 
    content: "• ";
    color: #2F3B77;
    margin-right: 1%;
    font-weight: 700;
}

.brochure-card-overlay-1 li span {
    margin-left: 1.1%;
}


.brochere-card-overlay-bottom-agenda {
    font-weight: 900;
    font-size: 2rem;
    padding-top: 8%;
    margin: 0% 0% 14% 0;
}

.wrapper-agenda {
    display: grid;
    grid-template-columns: repeat(6, [col] 12rem );
    grid-template-rows: repeat(3, [row] auto );
}

.box {
    color: #fff;
    padding: 1%;
    font-size: 150%;
    z-index:10;
}

.d img {
    height: auto;
    width: 100%;
    -webkit-box-shadow: 0px -1px 37px -6px rgba(47,59,119,0.49);
    -moz-box-shadow: 0px -1px 37px -6px rgba(47,59,119,0.49);
    box-shadow: 0px -1px 37px -6px rgba(47,59,119,0.49);
}

.d {
    grid-column: col 1 / span  6 ;
    grid-row: row 2 ;
  
}

.f {
    grid-column: col 1 / span 3;
    grid-row: row 2  ;
    background-color: rgba(126, 149, 0, 0.6);
    margin: 7% -3% 7% 7%;
}

.light-blue-bg {
    background-color: rgba(0, 167, 255, 0.6);
}

.dark-blue-bg {
    background-color: rgba(47, 59, 119, 0.9);
}

.agenda-day {
    margin-bottom: -7%;
    margin-right: 70%;
    margin-top: 7%;
}

.engagers-text {
   flex: 0 0 100%;
   height: 200px;
   color: #ffffff;
}

.engagers-text h2 {
    font-size: 2rem;
    margin-top: 5rem;
}

.engagers-text p {
    font-size: 1.1rem;
    font-weight: 200;
}

.engagers-container {
    height: 197px;
    background-color: rgb(47, 59, 119);
    margin-top: -9rem;
}

.agenda-title {
    font-weight: 100;
    font-size: 3rem;
}

.right {
    grid-column: col 4 / span 3;
    grid-row: row 2;
    z-index: 20;
    margin: 34% 0rem 1% 26%;
    text-align: left;
    line-height: 2rem;
}

.right h4 {
    font-weight: bold;
    line-height: 1.3;
}

.reading-man-sketch-container img {
    height: auto;
    width: 100%;
}

.reading-mountains-paragraph {
    color: #00A7FF;
    font-size: .9rem;
    margin-top: -2%;
    line-height: 1.4;
    padding: 0 9% 0 9%;
}
 
.brochure-card-overlay-bottom-paragraph {
    margin: 1% 9% 5% 9%;
    color: #707070;
    font-size: .7rem;
    font-family: 'Lato', sans-serif;
}

.brochure-card-overlay-bottom-button {
    padding: 4% 8% 4% 8%;
    background-color: transparent;
    color: #2F3B77;
    font-family: 'Lato', sans-serif;
    margin: -2% auto 7% auto;
    font-weight: 700;
    border: #2F3B77 solid .1rem;
    font-size: .5rem;
    /* margin-top: 5%; */
    margin: 5% 0 12% 0;

}

.brochure-card-overlay-bottom-button:hover, .brochure-card-overlay-bottom-button:focus {
    background-color: #2F3B77;
    color: #ffffff;
}

/* start  */

.brochure-card-overlay-1 {
    margin: 0 9% 0 9%;
}

.section-two-grid-container strong {
    color: #2F3B77;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    font-size: .8rem;
}

h4.agenda-title {
    text-align: left;
    margin: 0 0 26% 8%;
}

.agenda-flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reading-man-sketch-container {
    margin: 0% 25% 1% 25%;
}

.agenda-title {
    font-weight: 100;
}

.right-top-stars {
    margin: 30% 0rem 2% 26%;
}

/* mobile screens */
@media only screen  and (max-width : 799px) {
    .wrapper-agenda {
        grid-template-columns: repeat(6, [col] 3.5rem );
    }

    .agenda-day {
        margin-bottom: -25%;
        margin-right: 71%;
        font-size: 0.6rem;
    }

    .agenda-title {
        font-size: 1.3rem;
    }

    .f {
        margin: 7% -9% 8% 7%;
    }

    .right {
        line-height: 1.3;
    }

    .right h4 {
        font-size: .5rem;
    }

    .section-two-list-items-container-2 {
        margin-top: 18%;
    }

    .brochure-card-overlay-1 ul {
        margin: 5% 4% 2% 6%;
    }

    .brochure-card-overlay-1 h2 {
        margin-bottom: -5%;
    }
    
}


@media only screen and (min-width: 800px) {
    .brochure-card-overlay-1 {
        margin: -8% 19% 0 19%;
    }

    .section-two-grid-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 12%;
        grid-template-areas: 
            "allpha allpha allpha  bravo bravo bravo"
            "allpha allpha allpha  bravo bravo bravo";
    }

    .section-two-list-items-container-1 {
        grid-area: allpha;
    }
    
    .section-two-list-items-container-2 {
        grid-area: bravo;
    }

    .reading-man-sketch-container {
        margin: 5% 35% 1% 35%;
    }
    
}

/* Medium screens */
@media only screen  and (min-width : 799px) {
    .brochure-card-overlay-1 p {
        font-size: 	1rem;
    }

    .wrapper-agenda {
        grid-template-columns: repeat(6, [col] 8.3rem );
    }

    .agenda-title {
        font-size: 2.5rem;
    }

    .brochure-card-overlay-1 h2 {
        margin-top: 2%;
    }

    .brochure-card-overlay-1 {
        margin: -8% 18.7% 0 18.7%;
    }

    .brochure-card-overlay-1 ul {
        margin: 10% 15% 5% 6%;
    }

    .brochure-card-overlay-1 li {
        font-size: 1rem;
    }

    .agenda-day {
        font-size: 1rem;
    }

    .right h4 {
        font-size: 1.3rem;
    }

    .reading-mountains-paragraph {
        padding: 0 17% 0 17%;
        font-size: 1.3rem;
    }

    .brochure-card-overlay-bottom-paragraph {
        font-size: 1rem;
    }

    .brochure-card-overlay-bottom-button {
        padding: 1.6% 3.3% 1.6% 3.3%;
        font-size: .7rem;
        margin: 0 auto 12% auto;
    }

    .brochere-card-overlay-bottom-agenda {
        margin: 3% 0% 5% 0;
        font-size: 3.5rem;
        padding-top: 4%;
    }

    .reading-man-sketch-container {
        margin: 5% 35% 1% 35%;
    }

    .section-two-grid-container strong {
        font-size: 1rem;
    }
    
}

/* Extra-large screens */
@media only screen and (min-width: 1300px) {
    .brochure-card-overlay-1 {
        margin: -8% 19% 0 19%;
    }

    .brochure-card-overlay-1 h2 {
        font-size: 2rem;
    }

    .brochure-card-overlay-1 p {
        font-size: 	1.25rem;
    }

    .brochure-card-overlay-1 ul {
        font-size: 1rem;
    } 

    .brochure-card-overlay-1 li {
        font-size: 1.25rem;
    } 

    .section-two-grid-container strong {
        font-size: 1.25rem;
    }
    
    .agenda-title {
        font-size: 4.0625rem;
    }
  
    .right {
       font-size: 2rem;
    }

    .reading-mountains-paragraph {
        padding: 0 17% 0 17%;
        font-size: 2rem;
    }

    .brochure-card-overlay-bottom-paragraph {
        font-size: 1.25rem;
    }

    .brochere-card-overlay-bottom-agenda {
        margin: -1% 0% 5% 0;
        font-size: 5rem;
        padding-top: 8%;
    }

    .brochure-card-overlay-bottom-button {
        padding: 1.6% 2.3% 1.6% 2.3%;
        margin: 0 auto 12% auto;
        font-size: 1rem;
    }

    .wrapper-agenda {
        grid-template-columns: repeat(6, [col] 10rem );
    }

    .reading-man-sketch-container {
        margin: 5% 35% 1% 35%;
    }
    

}



