/***************************************
            svg-animation.css
***************************************/
.path-vert {
    stroke-dasharray: 1000;
  /*   stroke-dashoffset: 800; */
    animation: draw1 2s linear alternate;
    margin: 0;
  }
  
  @keyframes draw1 {
    from {
      stroke-dashoffset: 1200;
    }
    to {
      stroke-dashoffset: 600;
    }
  }